@page
@model CreatePostModel
@{
    ViewData["Title"] = "Pay2Craft";
}

<div>
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" value="" />
</div>
<div>
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" value="" />
</div>
<div>
            <label for="UserName">UserName:</label>
            <input type="text" name="UserName" value="" />
</div>
<div>
            <label for="Password">Password:</label>
            <input type="text" name="Password" value="" />
</div>
<div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
</div>