@page
@model IndexModel
@{
    ViewData["Title"] = "Pay2Craft";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pay2Craft!</h1>
    <p>Bring your ideas to life. Connect with talented creators worldwide!</p>
</div>

<div>
    <h2> Post a project</h2><br>
    <h2> Find Work</h2>

</div>
