@page
@model IndexModel
@{
    ViewData["Title"] = "Pay2Craft";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pay2Craft!</h1>
    <p>Bring your ideas to life. Connect with talented creators worldwide!</p>
</div>

<div>
<form asp-controller="Movies" asp-action="Index">
    <p>
        <label>Search Gigs <input type="text" name="SearchString" /></label>
        <input type="submit" value="Search" />
    </p>
</form>
</div>
