@page
@model IndexModel
@{
    ViewData["Title"] = "Pay2Craft";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome to Pay2Craft!</h1>
    <p>Bring your ideas to life. Connect with talented creators worldwide!</p>
</div>

